.drag-container div {
  background: transparent;
  background-image: url('../../../assets/images/letter-a.png');
  background-size: contain;
  border-radius: 30px;
  width: 15vh;
  height: 15vh;
  position: absolute;
  top: calc(50% - 15vh / 2);
  right: calc(25% - 15vh / 2);
  background-repeat: no-repeat;
}

.drag-title {
  font-size: 3vw;
  color: #ffd700;
  text-align: center;
  font-family: 'la belle aurore';
  width: 30vw;
  height: 50vh;
  border-radius: 30px;
  position: absolute;
  top: calc(50% - 50vh / 2);
  right: calc(25% - 30vw / 2);
  font-weight: 100;
}

.drag-container .drag-area {
  z-index: 0;
  position: absolute;
  left: auto;
  margin: auto;
  opacity: 0.2;
  background: white;
  width: 30vw;
  height: 50vh;
  border-radius: 30px;
  top: calc(50% - 50vh / 2);
  right: calc(25% - 30vw / 2);
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
