.drag-container div {
  background: transparent;
  background-image: url('../../../assets/images/letter-a.png');
  background-size: contain;
  border-radius: 30px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50% - 150px / 2);
  right: calc(25% - 150px / 2);
}

.drag-title {
  font-size: 20px;
  color: #ffd700;
  text-align: center;
  font-family: 'Coolvetica';
  width: 300px;
  height: 300px;
  border-radius: 30px;
  position: absolute;
  top: calc(50% - 300px / 2);
  right: calc(25% - 300px / 2);
}

.drag-container .drag-area {
  z-index: 0;
  position: absolute;
  left: auto;
  margin: auto;
  opacity: 0.2;
  background: white;
  width: 300px;
  height: 300px;
  border-radius: 30px;
  top: calc(50% - 300px / 2);
  right: calc(25% - 300px / 2);
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
